<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Poverty Predictor</title>
    <link rel="stylesheet" href="{{ styles_css }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Aid Allocation Assistance</h1>
    <br>
    <h2>To ensure efficient aid allocation, input the following information to determine a household's vulnerability to poverty.</h2>
    <h4>Note: This application only takes numeric inputs and is currently only available for the country of Costa Rica. We plan to expand coverage in late 2020.</h4>
    <br>
    <form action = "/results" method = "POST" id='rectangles-form'>
        <p>Number of rooms in the house  <input type="text" name="rooms"/></p>
        <p>Number of children (0-19) in household  <input type="text" name="children"/></p>
        <p>Average years of education for adults (18+) <input type="text" name="education"/></p>
        <p>Average number of persons per room <input type="text" name="overcrowding"/></p>
        <p>Total number of cellphones in the house <input type="text" name="phones"/></p>
        <p>Years of education for male head of household <input type="text" name="male"/></p>
        <p>Dependency rate of household <input type="text" name="dependency"/>
        <input type="submit" value="Submit"></p>
    </form>
  </body>
  <footer id='index-footer'>Made with ❤️ by Krishi</footer>
</html>
