<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Poverty Predictor</title>
  </head>
  <body>
    <h3>Poverty Prediction</h3>
    <br>
    <form action = "/results" method = "POST">
        <p>Rooms <input type="text" name="rooms"/></p>
        <p>Children <input type="text" name="children"/></p>
        <p>Education <input type="text" name="education"/></p>
        <p>Overcrowding <input type="text" name="overcrowding"/></p>
        <p>Phones <input type="text" name="phones"/></p>
        <p>Male Education <input type="text" name="male"/></p>
        <p>Children Squared <input type="text" name="kid_squ"/></p>
        <p>Overcrowding Squared <input type="text" name="over_squ"/></p>
        <p>Dependency <input type="text" name="dependency"/></p>
        <p>Education Squared <input type="text" name="edu_squ"/></p>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
